.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.menu a {
  display: block;
  padding: 1rem 2rem;
  background-color: #ffff;
  border-radius: 4px;
  color: #000;
}

.menu a:hover {
  outline: solid #FF0000 2px;
}
